.App,
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 48px;
  text-align: center;
}

.list img {
  height: auto;
  width: 320px;
}

p,
span,
div,
input {
  font-size: 1.75rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

input {
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.divider {
  width: 100%;
  margin: 16px 0;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  color: gray;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.card {
  padding: 36px;
  border: 1px solid rgb(196, 251, 113);
  border-radius: 24px;
}
